<!DOCTYPE html>
<html>
    <head>
        <title>{{ nama }}</title>
    </head>
    <body>
    <table width="33%">
    <tr>
        <th>Matkul</th>
        <th>SKS</th>
    </tr>
    <tr>
    <td>{{ nama }}</td>
    <td align="center">{{ sks }}</td>
     </tr>
    </table>
</br>
    <table>
    <tr>
        <th><a href="{% url 'main:readmatkul' %}"><button>Back</button></a></th>
        <th><a href="{% url 'main:home' %}"><button>Home</button></a></th>
    </tr>
    </table>
    </body>
</html>